.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  transition: all 200ms linear;
  text-align: center;

  border: 1px solid;
  border-color: var(--primary);
  border-radius: 5px;

  font-family: var(--ff);
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

.sm {
  height: 40px;
  width: 78px;
}

.md {
  height: 40px;
  width: 108px;
}

.xl {
  height: 44px;
  width: 150px;
}

.primary {
  color: var(--white);
  background-color: var(--primary);
}

.primary:hover {
  color: var(--primary);
  background-color: var(--gray-light);
}

.ghost {
  color: var(--primary);
  background-color: var(--gray-light);
}

.ghost:hover {
  color: var(--white);
  background-color: var(--primary);
}

.arrow {
  display: inline-block;

  margin-left: 10px;
}

.down {
  transition: all 200ms linear;
  transform: rotate(90deg);
}

.primary svg,
.ghost:hover svg {
  fill: var(--white);
}

.borderSide {
  border-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
