.title {
  font-family: var(--ff);
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: var(--primary);
  margin-bottom: 24px;
  display: block;
}

@keyframes changeColor {
  from {
    color: #6d7f9d;
  }

  25% {
  }

  50% {
    color: #4f7d7d;
  }

  75% {
    color: #4d69cf;
  }

  to {
    color: #b76e79;
  }
}

@keyframes changeWord {
  from {
    /* opacity: 0.2; */
    width: 0;
  }

  to {
    /* opacity: 1; */
    width: 100%;
  }
}

.additional {
  display: block;
  font-weight: 800;
}

.control {
  overflow: hidden;
  white-space: nowrap;
  animation: changeWord 2s linear;
  color: #6d7f9d;
}

.confidence {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: changeWord 2s linear;
  color: #4f7d7d;
}

.understanding {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: changeWord 2s linear;
  color: #4d69cf;
}

.peace {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: changeWord 2s linear;
  color: #b76e79;
}
