.title {
  font-family: var(--ff);
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: var(--primary);
  margin-bottom: 24px;
  display: block;
}

@keyframes slideOutUp {
  from {
    transform: translateY(20px);
    opacity: 0.2;
  }

  25% {
    transform: translateY(0);
    opacity: 1;
  }

  55% {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-20px);
    opacity: 0.2;
  }
}

@keyframes staySlide {
  from {
    transform: translateY(20px);
    opacity: 0.2;
  }

  25% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes changeColor {
  from {
    color: #6d7f9d;
  }

  25% {
  }

  50% {
    color: #4f7d7d;
  }

  75% {
    color: #4d69cf;
  }

  to {
    color: #b76e79;
  }
}

@keyframes welcomeAnimate {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.welcome {
  animation: welcomeAnimate 3s linear;
}
.stayControl {
  animation: staySlide 3s linear;
}

.additional {
  animation: slideOutUp 3s linear;
  display: block;
  font-weight: 800;
}

.control {
  animation: slideOutUp 3s linear;
  color: #6d7f9d;
}

.confidence {
  animation: slideOutUp 3s linear;
  color: #4f7d7d;
}

.understanding {
  animation: slideOutUp 3s linear;
  color: #4d69cf;
}

.peace {
  animation: slideOutUp 3s linear;
  color: #b76e79;
}
